{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "env": {
        "browser": true,
        "jasmine": true
    },
    "settings": {
        "import/resolver": {
            "webpack": {
                "config": "./webpack/base.config.js"
            }
        }
    },
    "rules": {
        "react/jsx-filename-extension": [1, {"extensions": [".js"]}],
        "indent": [2, 4],
        "comma-dangle": 0,
        "react/jsx-indent": [2, 4],
        "react/jsx-indent-props": [2, 4],
        "jsx-a11y/anchor-is-valid": [ "error", {
            "components": [ "Link" ],
            "specialLink": [ "to", "hrefLeft", "hrefRight" ],
            "aspects": [ "noHref", "invalidHref", "preferButton" ]
        }],
        "max-len": 0,
        "react/prop-types": 0,
        "arrow-parens": [2, "always"]
    }
}