.about-image {
    margin-left: 35%;
    width: 300px !important;
    height: 300px !important;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 60px, rgba(0, 0, 0, 0.22) 0px 15px 20px;
}
@media (min-width: 720px) {
    .container {
        margin-left: 256px;
    }
    .app-drawer {
        display: none !important;
    }
    .work-card {
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

@media (max-width: 720px) {
    .inside-bar {
        display: none !important;
    }

    .work-card {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
